# Advice for applying machine learning

## Advice for applying machine learning

### Evaluating a model

It is a good practise to split the data into training and test sets.

In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import explained_variance_score
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [35]:
df_train = pd.read_csv('train_house_prices.csv')
df_train.head(5)

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [36]:
df_train.shape, df_train.columns

((29451, 12),
 Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
        'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'ADDRESS', 'LONGITUDE',
        'LATITUDE', 'TARGET(PRICE_IN_LACS)'],
       dtype='object'))

Lets start by only using the variable `SQUARE_FT` to predict the price (`TARGET(PRICE_IN_LACS)`).

In [37]:
features = "SQUARE_FT"
target = "TARGET(PRICE_IN_LACS)"
X = df_train[features].values
y = df_train[target]

X.shape, type(X), y.shape, type(y)

((29451,), numpy.ndarray, (29451,), pandas.core.series.Series)

We know that the data are already split into training and test sets.
However, we can also use the `train_test_split` function to split the data into training and test sets.

- Step 1: Split the data into training and test sets (70% training and 30% test for example)
- Step 2:

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((23560,), (5891,), (23560,), (5891,))

In [40]:
model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

In [42]:
model.fit(X_train.reshape(-1,1), y_train)

Pipeline(steps=[('standardscaler', StandardScaler(with_mean=False)),
                ('linearregression', LinearRegression())])

In [43]:
model.predict(X_test.reshape(-1,1))

array([142.16140491, 142.19277872, 142.13278297, ..., 142.16606618,
       142.15479109, 142.12848192])

In [45]:
model.score(X_test.reshape(-1,1), y_test)

0.3670420382189544

In [48]:
mean_squared_error(y_test, model.predict(X_test.reshape(-1,1))), mean_squared_error(y_train, model.predict(X_train.reshape(-1,1)))

(344877.97973071545, 369250.6868019112)